name: Build Job

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Code
          uses: actions/checkout@v2
        - name: Test Application
          run: echo "Testing the application"
    
    call_final_job:
        needs: test  # Ensures this job runs after the 'test' job
        uses: ./.github/workflows/dump_ci_stats.yml  # Calls the reusable workflow
        with:
         workflow_name: "Build Job"
