name: Build Job

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Code
          uses: actions/checkout@v2
        - name: Build Application
          run: echo "Building the application"

    final_job:
        runs-on: ubuntu-latest
        needs: 
            - build
        steps:
        - name: Checkout Code
          uses: actions/checkout@v2
          
        - name: Setup Node.js
          uses: actions/setup-node@v3
          with:  
            node-version: '16'

        - name: Final Job
          run: |
            echo "Determining which workflow triggered the Final Job..."
            node source/dump-ci-stats-to-gcp-logs.js "Build Job"