name: Dum GH CI Stats

on:
  workflow_call:  # This allows the workflow to be reused
    inputs:
      workflow_name:
        description: 'Name of the CI workflow that triggered this job'
        required: true
        type: string

jobs:
  final_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install GCP Logging Client
        run: npm install @google-cloud/logging

      - name: Run Final Job and Send Logs to GCP
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
        run: |
          echo $GITHUB_TOKEN
          echo $GCP_CREDENTIALS
          node source/dump-ci-stats-to-gcp-logs.js "${{ inputs.workflow_name }}"
