name: Test Job

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Code
          uses: actions/checkout@v2
        - name: Test Application
          run: echo "Testing the application"

    final_job:
        runs-on: ubuntu-latest
        needs: 
            - test
        steps:
        - name: Checkout Code
          uses: actions/checkout@v2
          
        - name: Setup Node.js
          uses: actions/setup-node@v3
          with:  
            node-version: '18'

        - name: Final Job
          env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            echo "Determining which workflow triggered the Final Job..."
            node source/dump-ci-stats-to-gcp-logs.js "Test Job"